body{
    padding: 0%;
    margin: 0%;
}
.navbar-toggler {
    border: none !important;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

 
#carouselExampleIndicators {
    height: 37vw;
    width: 80%;
    position: relative;
    display: flex !important;
    left: 10%;
    right: 10%;
    top: 20vh;
    padding-top: 3%;
    border: solid  rgb(165, 165, 165) 1px;
    border-radius: 1rem ;
    margin: 0%;
 }

  

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black !important;
}

.slider{
    color: black ;
    text-align: center;
}
#productosdestacados {
    position: relative;
    top: 20vh;
}
h1 {
    text-align: center;
}

#mostsold{
    position: relative;
    top: 40vh;
}

#carouselExampleIndicators2 {
    height: 37vw;
    width: 80%;
    position: relative;
    left: 10%;
    right: 10%;
    top: 40vh;
    padding-top: 3%;
    border: solid  rgb(165, 165, 165) 1px;
    border-radius: 1rem ;
    display: flex;
    
 }
 #footer {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -200%;
    
  }

 .carousel-control-next {
    padding-left: 5rem !important;
 }
 .carousel-control-prev{
    padding-right: 5rem !important;
 }
 #destacados {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: static;
    top: 152%;

 }
 #smirnof {
    width: 180px !important;
    position: relative;
    left: 24%;
    
 }
 .tragox {
    padding-top: auto;
 }

.smir {
padding-top: 5% !important;
}

 #back1{
position: relative;
top: 9%;
width: 100%;
height: 100vh;
min-height: 100vh;
min-width: 100%;
padding: 0%;
margin: 0%;

}

